<launch>
<node pkg="turtlesim" name="simulador" type="turtlesim_node"/> <!--abre turtlesim-->

<node pkg="rosservice" name="mataTurtle" type="rosservice" args="call /kill turtle1"/>  <!--mata a turtle existente-->
    
    <!--cria as tartarugas ninja-->
    <node pkg="rosservice" name="mike" type="rosservice" args="call /spawn 4 5 0.0 Michelangelo "/>
    <node pkg="rosservice" name="rapha" type="rosservice" args="call /spawn 5 6 4.7 Rafael "/>
    <node pkg="rosservice" name="donnie" type="rosservice" args="call /spawn 6 5 3.2 Donatelo "/>
    <node pkg="rosservice" name="leo" type="rosservice" args="call /spawn 5 4 1.5 Leonardo "/>
    

</launch>

